* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

@import url(contactus.css);


:root {
    --dark-bg: rgba(0, 0, 0, 0.6);
    --lighter-dark-bg: rgba(0, 0, 0, 0.50);
    --darker-bg: rgba(0, 0, 0, 0.77);
    --primary-font-color: #ec5b53;
    --primary-hover-bg: #ec5b53;
    --primary-active-bg: rgb(128, 38, 38);
    --primary-hover-color: rgb(255, 255, 255);
    --primary-active-color: rgb(147, 147, 147);
    --blur: blur(5px);
    --img1: url(https://images.unsplash.com/photo-1600891964599-f61ba0e24092?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --img2: url(https://images.unsplash.com/photo-1577303935007-0d306ee638cf?q=80&w=2040&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --img3: url(https://images.unsplash.com/photo-1555396273-367ea4eb4db5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --img4: url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --poppins: 'Poppins', sans-serif;
}

body{
    font-family: var(--poppins);
}

#bg{
    position: fixed;
    z-index: -1;
    background: var(--primary-hover-color)  no-repeat center center/cover;
    min-height: 100vh;
    width: 100%;
}

/* Navigation Bar CSS */
nav {
    position: sticky;
    padding: 10px 0px;
    background-color: var(--dark-bg);
}

nav ul {
    display: flex;
    place-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    margin: 10px 80px;
    padding: 5px 20px;
    border-radius: 10px;
    color: var(--primary-font-color);
    text-decoration: none;
    font-weight: 999;
}

nav ul li a {
    transition: all 0.4s;
    background-color: transparent;
}

nav ul li a:visited {
    color: var(--primary-font-color);
    text-decoration: none;
    font-weight: 999;
}

nav ul li a:hover {
    transition: all 0.7s;
    background-color: var(--primary-hover-bg);
    color: var(--primary-hover-color);
}

nav ul li a:active {
    transition: all 0.2s;
    background-color: var(--primary-active-bg);
    color: var(--primary-active-color);
    padding: 3px 18px;
}

#active {
    background-color: var(--primary-hover-bg);
    color: var(--primary-hover-color);
}

/* Menu Body CSS */

#menu-cont{
    display: grid;
    grid-template-columns: 25.4% 74.6%;
}

#menu-catagory{
    display: grid;
    row-gap: 5px;
    grid-template-rows: repeat(20, 60px);
    justify-content: space-between;
    /* background-color: aqua; */
    align-items: center;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.category-li{
    width: 25.4vw;
    height: 60px;
}

.category-li{
    transition: all 0.4s;
    background: transparent;
    /* box-shadow: 0 0 0 transparent; */

}

.category-li-name{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.category-li:hover{
    transition: all 0.4s 0.05s;
    /* box-shadow: 0 0 20px black; */
    background: var(--primary-hover-bg);
    color: var(--primary-hover-color);
}

#menu-body{
    background-color: blueviolet;
}

@media only screen and (max-width: 1320px){
    nav ul li a {
        margin: 10px 10px;
    }
}

@media only screen and (max-width: 604px){
    nav ul li a {
        margin: 10px 2px;
        padding: 3px 10px;
        font-size: 0.8rem;
        border-radius: 7px;
    }
}