* {
    margin: 0;
    padding: 0;
}

@import url(contactus.css);


:root {
    --dark-bg: #00000099;
    --lighter-dark-bg: #00000080;
    --darker-bg: #000000c4;
    --primary-font-color: #ff4747;
    --primary-hover-bg: #ec5b53;
    --primary-active-bg: #802626;
    --primary-hover-color: #ffffff;
    --primary-active-color: #939393;
    --blur: blur(5px);
    --img1: url(https://images.unsplash.com/photo-1600891964599-f61ba0e24092?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --img2: url(https://images.unsplash.com/photo-1577303935007-0d306ee638cf?q=80&w=2040&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --img3: url(https://images.unsplash.com/photo-1555396273-367ea4eb4db5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --img4: url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --poppins: 'Poppins', sans-serif;
}

body{
    font-family: var(--poppins);
}

#bg{
    position: fixed;
    z-index: -1;
    background: var(--primary-hover-color)  no-repeat center center/cover;
    min-height: 100vh;
    width: 100%;
}

/* Navigation Bar CSS */
nav {
    padding: 10px 0px;
    background-color: var(--dark-bg);
}

nav ul {
    display: flex;
    place-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    margin: 10px 80px;
    padding: 5px 20px;
    border-radius: 10px;
    color: var(--primary-font-color);
    text-decoration: none;
    font-weight: 999;
}

nav ul li a {
    transition: all 0.4s;
    background-color: transparent;
}

nav ul li a:visited {
    color: var(--primary-font-color);
    text-decoration: none;
    font-weight: 999;
}

nav ul li a:hover {
    transition: all 0.7s;
    background-color: var(--primary-hover-bg);
    color: var(--primary-hover-color);
}

nav ul li a:active {
    transition: all 0.2s;
    background-color: var(--primary-active-bg);
    color: var(--primary-active-color);
    padding: 3px 18px;
}

#active {
    background-color: var(--primary-hover-bg);
    color: var(--primary-hover-color);
}

/* Menu Body CSS */

