/* Universal CSS */
*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --dark-bg: rgba(0, 0, 0, 0.6);
    --lighter-dark-bg: rgba(0, 0, 0, 0.439);
    --darker-bg: rgba(0, 0, 0, 0.77);
    --primary-font-color: rgb(255 71 71);
    --primary-hover-bg: #ec5b53;
    --primary-active-bg: rgb(128, 38, 38);
    --primary-placeholder-color: rgb(255, 255, 255);
    --primary-active-color: rgb(147, 147, 147);
    --blur: blur(7px);
    --bold: 600;
    --img1: url(https://images.unsplash.com/photo-1600891964599-f61ba0e24092?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --img2: url(https://images.unsplash.com/photo-1577303935007-0d306ee638cf?q=80&w=2040&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --img3: url(https://images.unsplash.com/photo-1555396273-367ea4eb4db5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    --img4: url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--img3) no-repeat center center/cover;
    /* background-color: green; */
    font-family: 'Poppins', sans-serif;
}
#login-box{
    margin: 10px 10px;
    /* width: 400px; */
    background-color: var(--lighter-dark-bg);
    /* background-color: blueviolet; */
    backdrop-filter: var(--blur);
    border-radius: 50px 20px;
    padding: 27px 14px;
}

#login-heading{
    padding: 25px 0px;
    color: var(--primary-font-color);
    font-size: 2rem;
    text-align: center;
    font-weight: 750;
    cursor: default;
}

.login-form input{
    border: none;
    width: 300px;
    margin: 10px 10px;
    padding: 10px 25px;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid var(--primary-font-color);
    color: var(--primary-placeholder-color);
    font-weight: var(--bold);
    font-size: 1rem;
}

.login-form input::placeholder{
    color: var(--primary-placeholder-color);
    font-weight: var(--bold);
}

.login-form input:focus::placeholder{
    transition: all 0.3s;
    color: var(--primary-active-color);
}

.login-icons{
    position: relative;
    right: 10%;
    color: var(--primary-font-color);
}

.chkbox{
    margin: 10px 10px;
    color: var(--primary-placeholder-color);
    cursor: default;
    font-weight: var(--bold);
}

#checkbox{
    cursor: pointer;
}

#bttn{
    margin: 37px 0px 10px 0px;
    text-align: center;
}

.tc{
    padding: 15px 0;
}

#bttn a{
    padding: 11px 29%;
    text-decoration: none;
    color: var(--primary-placeholder-color);
    border-radius: 20px;
    font-weight: var(--bold);
    font-size: 1.2rem;
}

#bttn a {
    transition: all 0.4s;
    background-color: transparent;
}

#bttn a:hover{
    transition: all 0.7s;
    background-color: var(--primary-hover-bg);
}

#bttn a:active{
    background-color: var(--primary-active-bg);
}

#login{
    color: var(--primary-placeholder-color);
    text-align: center;
    padding: 20px 0;
    cursor: default;
    font-size: 1.2rem;
}

#login a{
    color: var(--primary-placeholder-color);
    font-weight: var(--bold);
    text-decoration: none;
}

#login a:hover{
    text-decoration: underline 3px;
}

@media only screen and (max-width: 795px){
    #login-box{
        margin: 10px 150px;
    }
}